.student-form{
    background-color: aqua;
    padding: 10px;
    font-size: large;
    width:100%;
}

.AA{
    background-color: rgb(19, 2, 97);
    padding: 10px 20px 20px 20px;
    font-size: large;
    max-width: auto;

    
}


